.dimmed {
  position: fixed;
  inset: 0;
  background-color: #000;
  z-index: 9999;

  .icon-close {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 2;
    cursor: pointer;
  }
}
